a{
    text-decoration:none; 
}

button{
    padding-left:10px;
    padding-right:10px;
    margin-left: 50px;
    border: none;
    border-radius: 5px;f
    text-transform: uppercase;
}

li {
    list-style: none;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
  }
  
  .calendar-container {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto;
    gap: 1px 1px;
    grid-template-areas:
      ". header"
      "timeslots-container main";
  }
  
  .titre {
    display: flex;
    justify-content: center;
    letter-spacing: 10px;s
    font-family: 'Arial Black', Gadget, sans-serif;
    color: white;
    text-transform: uppercase;
  }

  .weekdays,
  .daynumbers {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    letter-spacing: 5px;
  }
  
  .weekdays {
    background: rgb(250, 125, 125);
    color: whitesmoke;
  }
  
  .daynumbers {
    background: rgb(232, 154, 154);
    min-height: 2em;
  }
  
  .daynumbers li {
    border-right: 1px solid black;
  }
  
  .header {
    background: rgb(230, 213, 198);
    grid-area: header;
  }

  .header .month{
      display: flex;
      justify-content: right;
      text-align: right;
  }

  .header .month img{
      padding-left: 20px;
      padding-right: 20px;
    padding-top: 22px;
  }

   /* #### Heure en colonne #### */
  
  .timeslots-container {
    background: rgb(255, 187, 187);
    grid-area: timeslots-container;
    justify-items: left;
  }
  

 

  .timeslots {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeslots li {
    min-height: 60px;
  }
  
  .timeslots li::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 100%;
    height: 1px;
    background: rgb(250, 125, 125);
    z-index: 1;
  }

 /*  ####CSS DES TACHES#### */
  
  .event-container {
     display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(36, 1fr); 
    background: rgb(222, 223, 231);
    grid-area: main ;
    position: relative;
    white-space: normal;
    background: repeating-linear-gradient(
      to right,
      transparent 0%,
      transparent 14.2%,
      rgb(238, 240, 125) 14.3%
    );
  }

  .slot1 {
    position: absolute;
    width: 14%;
    background: rgb(73, 71, 70);
    border-radius: 5px;
    z-index: 2;
    margin-top: 1px;
    border-color: rgb(80, 80, 74);
    outline: none;
    height: 120px;
    transition: transform 0.5s;
  }
  
  .event-container .slot1 #event1{
    padding-top: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  .slot1:hover{
    transform: scale(1.05);
  }

 
  .slot2 {
    z-index: 2;
    border-radius: 5px;
    grid-row: 5;
    grid-column: 3;
    background: rgb(87, 66, 223);
    height: 220px;
    width: 20%;
    transition: transform 0.5s;
  }

  .event-container .slot2 #event2{
    padding-top: 60px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  .slot2:hover{
    transform: scale(1.05);
  }


  .slot3 {
    height: 120px;
    z-index: 2;
    border-radius: 5px;
    grid-row: 25;
    grid-column: 5;
    background: rgb(66, 223, 150);
    width: 67%;
    transition: transform 0.5s;
   
  }

  .event-container .slot3 #event3{
    text-align: center;
    color: white;
    text-transform: uppercase;
    
  }

  .slot3:hover{
    transform: scale(1.05);
  }
  

  .slot4 {
    height: 30px;
    z-index: 2;
    border-radius: 5px;
    grid-row: 28;
    grid-column: 1;
    background: rgb(66, 207, 223);
    width: 14%;
    height: 120px;
    transition: transform 0.5s;
   
  }

  .event-container .slot4 #event4{
    text-align: center;
    color: white;
    text-transform: uppercase;
    
  }

  .slot4:hover{
    transform: scale(1.05);
  }

  .slot5 {
    height: 30px;
    z-index: 2;
    border-radius: 5px;
    grid-row: 15;
    grid-column: 1;
    background: rgb(223, 66, 223);
    width: 14%;
    height: 180px;
    transition: transform 0.5s;
   
  }

  .event-container .slot5 #event5{
    padding-top: 60px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    
  }

  .slot5:hover{
    transform: scale(1.05);
  }

  .slot6 {
    position: absolute;
    width: 14%;
    background: rgb(73, 71, 70);
    border-radius: 5px;
    z-index: 2;
    grid-row:1;
    grid-column: 4;
    margin-top: 1px;
    border-color: rgb(80, 80, 74);
    outline: none;
    height: 120px;
    width: 50%;
    transition: transform 0.5s;
  }
  
  .event-container .slot6 #event6{
    padding-top: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  .slot6:hover{
    transform: scale(1.05);
  }

  .slot {
    position: absolute;
    /* overflow: hidden; */
   
    border-radius: 5px;
    z-index: 2;
    margin-top: 1px;
    border-color: rgb(3, 155, 229);
    outline: none;

  }

.slot .prettytxt{
    color: yellow;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: normal;
  }
  

/*   ####Footer#### */

  .footer {
    letter-spacing: 5px;
    position: sticky;
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
    background: rgb(230, 213, 198);
	color: rgb(242, 242, 242);}